<div class="col-md-10 offset-md-1 mt-5">
  <h2><%= @minute.title %></h2>
  <ul>
    <li><b><%= t ".name" %>:  </b><%= @minute.name %></li>
    <li><b><%= t ".post_date" %>:  </b><%= @minute.post_date %></li>
  </ul>
  <hr>
  <h5><%= t ".description" %></h5>
  <%= simple_format @minute.description %>

<%= link_to t(".edit"), edit_minute_path(@minute), class: "btn btn-primary" %>
<%= button_tag t(".delete"), class: "btn btn-warning", data: { toggle: "modal", target: "#delete-minute" } %>
<%= link_to t(".return"), minutes_path, class: "btn btn-secondary" %>
</div>

<div class="modal fade" id="delete-minute">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t(".modal_title") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= t(".question_minute", minute: @minute.title) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".chancel") %></button>
        <%= link_to t(".delete_action"), minute_path(@minute), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>